<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>2wPirateServer2.1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description></description>
		<display-name>HelloServlet</display-name>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.revature.pirate.servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PirateServlet</servlet-name>
		<servlet-class>com.revature.pirate.servlet.PirateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PirateServlet</servlet-name>
		<url-pattern>/pirate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PirateServlet</servlet-name>
		<url-pattern>/pirate/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StaticResourceServlet</servlet-name>
		<servlet-class>com.revature.pirate.servlet.StaticResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaticResourceServlet</servlet-name>
		<url-pattern></url-pattern>
		<url-pattern>/pirate-list</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>precluded methods</web-resource-name>
			<url-pattern>/static/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>http://127.0.0.1:5501</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>